@font-face {
  font-family: 'Glacial Indifference';
  src: url('@/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('@/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Glacial Indifference', sans-serif;
}