fastapi
uvicorn
asyncpg
fastapi-another-jwt-auth
pydantic
pydantic[email]
python-dotenv
PyYAML
passlib
pymupdf
pillow
pdf2image
fillpdf
apscheduler
SQLModel
# need to be replaced with psycopg2 for production you would need to rework the Dockerfile
psycopg2-binary
# for testing
pytest
pytest-asyncio
httpx
#Debugging
debugpy
# email
fastapi-mail
# templates
Jinja2