fastapi
uvicorn
pydantic
pydantic[email]
python-dotenv
PyYAML
passlib
pymupdf
pillow
pillow-avif-plugin
pdf2image
fillpdf
apscheduler
python-multipart
# for database
asyncpg
sqlalchemy[asyncio]
# psycopg2
psycopg2-binary # just for testing use the one above in production
# for testing
pytest
pytest-asyncio
httpx
pytest-order
pytest-dependency
# Debugging
debugpy
# email
fastapi-mail
# templates
Jinja2
faker
#auth
pyjwt
cryptography
# WebAuthn/Passkeys support
webauthn
cbor2
# Avatag gen
openai
# for mocking passkeys
soft-webauthn