fastapi
uvicorn
fastapi-another-jwt-auth
pydantic
pydantic[email]
python-dotenv
PyYAML
passlib
pymongo
mongoengine
pymupdf
pillow
pdf2image
fillpdf
apscheduler
SQLModel
unittest
# need to be replaced with psycopg2 for production you would need to rework the Dockerfile
psycopg2-binary