[run]
source =
    app.py
    database
    endpoints
    mail
    server
    utils

omit =
    */tests/*
    */__pycache__/*
    */migrations/*
    */venv/*
    */env/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError