:root {
  --container-color: green;
  --game-card-bg-color: #f1f1f1;
  --game-card-backdrop-color: lightgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#memory_game_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--container-color);
  padding: 40px 60px;
}

#memory_game {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  height: 440px;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.game_card {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: var(--game-card-bg-color);
  transition: 0.25s;
  transform: rotateY(180deg);
}
.game_card.flipped {
  transform: rotateY(0deg);
}
.game_card.flipped::after {
  opacity: 0;
}

.game_card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--game-card-backdrop-color);
  opacity: 1; /* testing pursopse */
  transition: 0.25s;
  transform: rotateY(0deg);
  /* backface-visibility: hidden;*/ /* not working on firefox */
}
